* {
  background-color: #000000;
  color:#CC4500;
}
table{
  display: inline-block;
  width: 98%;
  height: 7.5%;
  border: 2px solid #420900;
}

td{
  background-color: #000000;
  color:#CC4500;
  font-size: 40px;
  width:1vw/4;
  border:2px solid black;
}
div{
  margin:1px,1px,1px,1px;
  border: 2px solid #420900;
  padding-left:2px;
}
#logo,#refresh{
  display:inline-block;
  width:70px;
  height:50px;
  background-color:#000000;
}
