div {
  border-style: solid;
}

.refresh {
  border-color: orange;
}

.time_line {
  border-color: red;
}

.time_stamp {
  border-color: none;
  border-style: none;
}

.title {
  border-color: blue;
  border-style: solid;
}

.tweet {
  border-color: blue;
}

.tweets {
  border-color: none;
  border-style: none;
}

.user {
  border-color: none;
  border-style: none;
}

.user_name {
  border-color: none;
  border-style: none;
}