button {
  display: block;
}

div {
  border-style: solid;
}

h1 {
  display: inline-block;
}

.message {
  border-style: none;
  float: left;
}

.refresh {
  border-color: orange;
}

::selection{
  color: orange;
};

.time_line {
  border-color: red;
}

.time_stamp {
  border-color: none;
  border-style: none;
  clear: both;
}

.title {
  border-color: orange;
  border-style: solid;
}

.tweet {
  border-color: orange;
}

.tweets {
  border-color: none;
  border-style: none;
}

.user {
  border-color: none;
  border-style: none;
}

.user_name {
  border-color: none;
  border-style: none;
  float: left;
}