div {
  border-style: solid;
}

.refresh {
  border-style: solid;
  border-color: orange;
}

.title {
  border-style: solid;
  border-color: blue;
}

.tweets {
  border-style: dashed;
  border-color: green;
}